<div class="container">
  <section>
    <button class="button-style" (click)="close(accordion)">Close component</button>
    <button class="button-style" (click)="open(accordion)">Open component</button>
    <app-accordion #accordion/>
  </section>
  
  <section class="container-section">
    <button class="button-style-2" (click)="close(baseAccordion)">Close directive</button>
    <button class="button-style-2" (click)="open(baseAccordion)">Open directive</button>
    <details
      appBaseAccordion
      class="accordion"
      #baseAccordion="appBaseAccordion"
      [open]="baseAccordion.isOpen"
    >
      <summary>Accordion</summary>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorem optio
      illum, natus rerum perspiciatis tempora eos architecto pariatur laudantium
      suscipit quia placeat exercitationem voluptatibus nulla illo, accusamus
      veritatis incidunt molestias!
    </details>
    <details
      appBaseAccordion
      class="accordion"
      #baseAccordion="appBaseAccordion"
      [open]="baseAccordion.isOpen"
    >
      <summary>Accordion</summary>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorem optio
      illum, natus rerum perspiciatis tempora eos architecto pariatur laudantium
      suscipit quia placeat exercitationem voluptatibus nulla illo, accusamus
      veritatis incidunt molestias!
    </details>
  </section>
</div>
